<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <!-- Seletor de tipo -->
  <div class="form-group">
    <label>Tipo de conta</label>
    <select class="form-control" formControlName="tipo">
      <option value="paciente">Paciente</option>
      <option value="centro">Centro Clínico</option>
    </select>
  </div>

  <!-- Campos comuns -->
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" formControlName="nome">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" formControlName="email">
  </div>

  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" formControlName="senha">
  </div>

  <div class="form-group">
    <label>Endereço</label>
    <input type="text" class="form-control" formControlName="endereco">
  </div>

  <!-- Campos específicos de paciente -->
  <ng-container *ngIf="f['tipo'].value === 'paciente'">
    <div class="form-group">
    <label>Idade</label>
    <input type="number" class="form-control" formControlName="idade" />
    <div *ngIf="submitted && f['idade'].errors" class="text-danger">
      Idade é obrigatória.
    </div>
    </div>
    <div class="form-group">
      <label>Sexo</label>
      <select class="form-control" formControlName="sexo">
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
      </select>
    </div>

    <div class="form-group">
      <label>Condições médicas (separadas por vírgula)</label>
      <input type="text" class="form-control" formControlName="condicoes">
    </div>
  </ng-container>

  <!-- Campos específicos de centro -->
  <ng-container *ngIf="f['tipo'].value === 'centro'">
    <div class="form-group">
      <label>Telefone</label>
      <input type="text" class="form-control" formControlName="telefone">
    </div>
  </ng-container>

  <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
</form>
