<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
    
    <a class="navbar-brand fw-bold" routerLink="/">
      Health Trials Connect
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <ng-container *ngIf="isLoggedIn && usuario?.tipo === 'paciente'">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home-paciente', usuario?.id]">Minha Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pesquisar-estudos">Pesquisar Estudos</a>
          </li>
        </ng-container>

        
        <ng-container *ngIf="isLoggedIn && usuario?.tipo === 'centro'">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/centro-home', usuario?.id]">Dashboard do Centro</a>
          </li>
        </ng-container>
      </ul>

      
      <ul class="navbar-nav ms-auto">
        
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Entrar</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="btn btn-primary ms-2">Registrar</a>
          </li>
        </ng-container>

       
        <ng-container *ngIf="isLoggedIn && usuario">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Olá, {{ usuario.nome }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <button class="dropdown-item" (click)="logout()">Sair</button>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
