<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">Hub da Saúde</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ng-container *ngIf="usuario$ | async as usuario">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ng-container *ngIf="usuario.tipo === 'paciente'">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home-paciente', usuario.id]">Minha Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pesquisar-estudos">Pesquisar Estudos</a>
            </li>
          </ng-container>
          <ng-container *ngIf="usuario.tipo === 'centro'">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/centro-home', usuario.id]">Dashboard do Centro</a>
            </li>
          </ng-container>
        </ul>
      </ng-container>

      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="usuario$ | async as usuario; else naoLogado">
          <li class="nav-item">
            <a class="btn btn-sm btn-outline-secondary me-2" [routerLink]="usuario.tipo === 'paciente' ? ['/paciente/editar', usuario.id] : ['/centro/editar', usuario.id]">Meu Perfil</a>
          </li>
          
          <li class="nav-item">
            <button class="btn btn-sm btn-danger" (click)="logout()">Sair</button>
          </li>
        </ng-container>
        <ng-template #naoLogado>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Entrar</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="btn btn-primary ms-2">Registrar</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
