<div class="container my-5">
  <a [routerLink]="['/home-paciente', pacienteId]" class="text-decoration-none fw-bold mb-3 d-inline-block">
  <i class="bi bi-arrow-left"></i> Voltar para meus estudos
</a>

  <div *ngIf="loading" class="d-flex justify-content-center p-5">
    <div class="spinner-border text-primary" role="status"></div>
  </div>

  <div *ngIf="!loading && estudo" class="card border-0 shadow-sm p-3 p-md-4">
    <div class="card-body">
        <h2 class="h3 mb-1">{{ estudo.titulo }}</h2>
        <p class="text-muted">{{ estudo.descricao }}</p>
        <hr class="my-4">
        <div class="mt-4 p-3 bg-light rounded">
          <h5 class="h6">Ações</h5>
          <p class="small text-muted">Precisa de ajuda ou quer mais informações sobre sua participação?</p>
          <button class="btn btn-primary">
            <i class="bi bi-chat-dots"></i> Falar com o centro clínico
          </button>
          <button class="btn btn-outline-danger ms-2" (click)="solicitarSaida()">
            <i class="bi bi-box-arrow-left"></i> Solicitar saída do estudo
          </button>
        </div>
    </div>
  </div>
</div>